#content-flag-tag-sideDiv {
  font-size: 12px;
}
#sideDiv {
  width: 340px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: all 0.5s;
  color: #595959;
}
#sideDiv a{
  text-decoration: none;
}
#sideDiv img{
  display: inline;
  filter: none;
}
.out {
  right: 0;
}
.in {
  right: -340px;
}
.sidebar-container {
  box-sizing: border-box;
  height: 100%;
  background: rgba(255,255,255, 0.9);
  border-left: 1px solid #dedede;
  display: flex;
  flex-direction: row;
}
.utils-bar {
  flex: 50px 0 0;
  padding-top: 20px;
  background: #c0c0c0;
}
.icon-btn {
  text-align: center;
  margin-bottom: 20px;
}
.operate-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.main-bar {
  /* flex: 1; */
  width: 290px;
}
.main-title {
  background: #334455;
  color: #fff;
  font-size: 24px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.main-container {
  height: calc(100% - 50px);
  overflow-y: auto;
}
.setting-wrap {
  padding: 10px 20px;
  text-align: left;
}
.settings-operate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.operate-btn {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background: #6495ED;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.setting-item {
  margin-bottom: 20px;
}
.setting-title {
  font-size: 16px;
  margin-bottom: 5px;
}
.setting-content {
  width: 100%;
}
.setting-input {
  height: 36px;
  width: 100%;
  font-size: 14px;
  outline: none;
  border: none;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 0 10px;
}
.select-input {
  font-size: 14px;
}
.radio-group {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}
.radio-label {
  margin-right: 20px;
  cursor: pointer;
}
.radio-label input {
  margin-right: 5px;
}
.list-wrap {
  padding: 10px;
}
.card-item {
  border: 1px solid #dedede;
  padding: 10px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  text-align: left;
}
.card-item a:hover {
  /* color: #01c1de; */
  text-decoration: none;
  /* background: rgba(0,0,255,0.3); */
}
.link-title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.link-keyword {
  font-size: 14px;
  color: #87CEFA;
}
.link-description {
  font-size: 12px;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.loading-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.loading-card img {
  animation: autoRotate 2s linear infinite;
}
@keyframes autoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-textarea {
  width: 100%;
  border: none;
  border: 1px solid #dedede;
  padding: 10px;
  margin: 5px 0;
  height: 80px;
}
#arrowIcon {
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -12px;
  padding: 16px 0;
  background: #708090;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}
.arrow-img {
  display: block !important;
  width: 24px;
  height: 24px;
}

#dragbox {
  position: absolute;
  background: #87CEFA;
  color: #fff;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#addBtn {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  background: rgba(0,0,255,0.7);
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 360px;
}

.card-item:hover .close-icon {
  display: block;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}
.close-icon img {
  display: block;
}

.test {
  display: table-column;
}

::-webkit-scrollbar {
  width: 0;
}

.user-dialog {
  position: absolute;
}

.empty-tips {
  padding-top: 30px;
  font-size: 24px;
  line-height: 40px;
  color: #888;
  text-align: center;
}