@font-face {
  font-family: 'iconfont';  /* project id 2454150 */
  src: url('//at.alicdn.com/t/font_2454150_hzjvukqjgq8.eot');
  src: url('//at.alicdn.com/t/font_2454150_hzjvukqjgq8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2454150_hzjvukqjgq8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2454150_hzjvukqjgq8.woff') format('woff'),
  url('//at.alicdn.com/t/font_2454150_hzjvukqjgq8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2454150_hzjvukqjgq8.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
#sideDiv {
  width: 340px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: all 0.5s;
}
.out {
  right: 0;
}
.in {
  right: -340px;
}
.sidebar-container {
  box-sizing: border-box;
  height: 100%;
  background: rgba(255,255,255, 0.9);
  border-left: 1px solid #dedede;
  display: flex;
  flex-direction: row;
}
.utils-bar {
  flex: 50px 0 0;
  padding-top: 30px;
  background: #c0c0c0;
}
.add-btn {
  text-align: center;
}
.add-img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.main-bar {
  flex: 1;
}
.main-title {
  background: #334455;
  color: #fff;
  font-size: 24px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.list-container {
  padding: 10px;
}
.card-item {
  margin: 10px 0;
}
#arrowIcon {
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -12px;
  padding: 16px 0;
  background: #708090;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}
.arrow-img {
  display: block;
  width: 24px;
  height: 24px;
}

#dragbox {
  position: absolute;
  background: #87CEFA;
  color: #fff;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}